{% spaceless %}
    <section id="services">
        <div class="container">
            <h2 class="formule black-color text-center text-uppercase">- {{ 'app.subtitle.service.title'|trans }} -</h2>
            <div class="row margintb">
                <div class="col-md-6 col-sm-6 wow text-center fadeInLeft max">
                    {{ ez_render_field(content, 'image_service') }}
                </div>
                <div class="col-md-6 col-sm-6 text-justify margintb black-color wow fadeInRight">
                    {{ ez_render_field(content, 'text_service') }}
                </div>
            </div>
            <div class="row margintb">
                <div class="col-md-6 col-sm-6 col-sm-push-6 wow text-center fadeInRight max">
                    {{ ez_render_field(content, 'image_techno') }}
                </div>
                <div class="col-md-6 col-sm-6 col-sm-pull-6 margintb text-justify black-color wow fadeInLeft">
                    {{ ez_render_field(content, 'text_techno') }}
                </div>
            </div>
            <div class="row text-center">
                <a href="#contact" class="formule-btn page-scroll" >{{ 'app.formule.btn'|trans }}</a>
            </div>
        </div>
    </section>
{% endspaceless %}