{% extends "AppSiteBundle::pagelayout.html.twig" %}
{% block content %}
    {% spaceless %}
        {% include 'AppSiteBundle::pagelayout/page_header.html.twig' %}
        {% include 'AppSiteBundle::pagelayout/page_navigation.html.twig' %}
        <section id="presentation" class="container-fluid bg-blue" style="background-image:url('{{ ez_field_value(content, 'image_service').uri }}');">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-md-push-6 wow text-center fadeInRight my-picture">
                    {{ ez_render_field(content, 'image_bio') }}
                </div>
                <div class="col-lg-6 col-md-6 col-md-pull-6 text-center black-color padding-tb wow fadeInLeft">
                    <div class="col-md-10 col-md-offset-2 col-sm-12">
                        {{ ez_render_field(content, 'text_bio') }}
                    </div>
                    <div class="col-md-10 col-md-offset-2 col-sm-12">
                        <hr>
                    </div>
                    <div class="col-md-10 col-md-offset-2 col-sm-12">
                        <div class="col-sm-3 col-xs-6 icon-marginb icon-size">
                            <i class="fa fa-heart fa-red fa-3x"></i>
                            <br>
                            {{ 'app.passion'|trans }}
                        </div>
                        <div class="col-sm-3 col-xs-6 icon-marginb icon-size">
                            <i class="fa fa-laptop fa-red fa-3x"></i>
                            <br>
                            {{ 'app.web_addict'|trans }}
                        </div>
                        <div class="col-sm-3 col-xs-6 icon-size">
                            <i class="fa fa-globe fa-blue fa-3x"></i>
                            <br>
                            {{ 'app.travel'|trans }}
                        </div>
                        <div class="col-sm-3 col-xs-6 icon-size">
                            <i class="fa fa-trophy fa-orange fa-3x"></i>
                            <br>
                            {{ 'app.sport'|trans }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid bg-black text-center stat">
            <div class="row">
                <div class="col-sm-4 wow fadeInLeft icon-marginb">
                    <i class="fa fa-calendar blue" aria-hidden="true"></i><br>
                    <p><span class="timer" data-from="0" data-to="3"></span> {{ 'app.xp.one'|trans }}</p>
                    <hr>
                    <i>{{ 'app.xp.two'|trans }}!</i>
                </div>
                <div class="col-sm-4 wow fadeInUp icon-marginb">
                    <i class="fa fa-clock-o blue" aria-hidden="true"></i><br>
                    <p>{{ 'app.work.one'|trans }}</p>
                    <hr>
                    <i>{{ 'app.work.two'|trans }}</i>
                </div>
                <div class="col-md-4 wow fadeInRight">
                    <i class="fa fa-headphones blue" aria-hidden="true"></i><br>
                    <p><span class="timer" data-from="0" data-to="60"></span> {{ 'app.music.one'|trans }}</p>
                    <hr>
                    <i>{{ 'app.music.two'|trans }}</i>
                </div>
            </div>
        </section>
        {% if works|length > 0 %}
            {% include 'AppSiteBundle::content/parts/works.html.twig' %}
        {% endif %}
        {% include 'AppSiteBundle::content/parts/contact.html.twig' %}
    {% endspaceless %}
{% endblock %}